<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/B5C/src/com/b5m/www/Testcase/TestHTTPClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.b5m.www.Testcase.TestHTTPClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="B5C"/>
</launchConfiguration>
